.container .cover {
    width: 100%;
    aspect-ratio: 1.777777777777777;
    object-fit: cover;
}

.container .details {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.game-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.game-title h1, .game-title a {
    margin-block-end: 0;
    margin-block-start: 0;
}

.game-title .title {
    font-weight: 900;
    font-size: 50px;
}

.game-title .developer {
    font-weight: 300;
    font-size: 50px;

    text-decoration: none;
    color: var(--highlight-color);
}

.container p {
    font-size: 18px;
    line-height: 28px;
}

.description {
    text-align: center;
}

.developers a {
    text-decoration: none;
    color: var(--highlight-color);
}
.developers a:hover {
    text-decoration: underline;
}

.images img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 10%) 0 0 15px 5px;
}