.header h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-top: 0;
}

.container .details {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.container {
    font-size: 18px;
}

.container p {
    line-height: 28px;
}

.container a {
    color: var(--highlight-color);
}

#sun {
    margin-bottom: -148px;
    margin-left: auto;
    margin-right: auto;
    animation: rotate 40s linear infinite;
    display: block;
    transition: .2s;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header-bg {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0));
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.description ul {
    padding: 0;
    width: 100%;
}

.description li {
    list-style: none;
    margin-bottom: 8px;
}

.description .question {
    margin-bottom: 5px;
    padding: 20px;
    background-color: #f6f8fa;
    border-radius: 10px;
    border: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 0.25s;
}

.description .question:hover {
    background-color: #e9eff5;
}

.icon {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transition: transform .2s;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.answer {
    max-height: 0;
    background-color: #f6f8fa;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;
}

.answer span {
    display: inline-block;
    padding: 1.2rem;
}

.question.open + .answer {
    max-height: 100%;
    margin-bottom: 15px;
    border: 1px solid #efefef;
}

.question.open .icon {
    transform: rotate(45deg);
}