@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    padding: 0 10px 80px;
    margin: 0;

    --highlight-color: #00b4ff;
    --navigation-transition: 0.3s;
}

body:before {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;

    opacity: 0.5;

    background-color: white;
    background-image: url(images/bg_puttern.png);
    background-position: 50% 0;
    background-attachment: fixed;

    transform: rotate(-10deg);
}

.heading {
    display: flex;
    justify-content: space-between;

    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
}

.heading .site-name {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 15px;
}

#navigation-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    font-size: 2rem;
    font-weight: 900;
    z-index: 11;
    margin-right: 15px;
}

.navigation {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    width: calc(100% + 20px);
    background-color: #adffbe;

    transition-duration: var(--navigation-transition);
    transform: translate(-50%, -100%);

    box-shadow: rgba(0, 0, 0, 10%) 0 0 15px 5px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.navigation.show {
    transform: translate(-50%, 0%);
}

.navigation .title {
    height: 40px;
}

.navigation .title .site-name {
    color: black;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 25px;
    display: table;
}

.navigation .elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(150px - 70px);
}

.navigation a {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #31663c;
    text-decoration: none;
}
.navigation .elements a:hover {
    text-decoration: underline;
}

@media (max-width: 550px) {
    .navigation .elements {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        height: calc(200px - 70px);
    }
}

.details a {
    text-decoration: none;
    color: var(--highlight-color);
}
.details a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;

    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
    border-radius: 16px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 10%) 0 0 15px 5px;
}

#nav-menu-block {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--navigation-transition);
    pointer-events: none;
}
#nav-menu-block.show {
    background-color: rgba(49, 102, 60, 0.2);
    pointer-events: auto;
}

hr {
    border: 1px solid rgba(0, 0, 0, .1);
}