.header h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

.container .details {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.container {
    font-size: 18px;
}

.container p {
    line-height: 28px;
}

.container a {
    color: var(--highlight-color);
}