<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game of the Day</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="reveal.css">

    <script src="reveal.js"></script>
    <script src="navigation.js"></script>
    <meta name="website-id" content="" />

    <meta property="og:title" content="Game of the Day" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="%og-image%" />

    <link rel="icon" href="./images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png">
</head>
<body>
<div class="navigation">
    <div class="title">
        <p><a class="site-name" href="./">Game of the Day</a></p>
    </div>
    <div class="elements">
        <a href="./">Landing Page</a>
        <a href="about">About</a>
        <a href="https://submit.gameoftheday.org" target="_blank">Submit Your Game</a>
    </div>
</div>
<div class="heading">
    <p><a class="site-name" href="./">Game of the Day</a></p>
    <div id="navigation-button" class="menu_btn">
        <span class="line top_line"></span>
        <span class="line middle_line"></span>
        <span class="line bottom_line"></span>
    </div>
</div>
<div class="container">
    <img id="cover" src="" alt="Game Cover">
    <div class="details">
        <div class="game-title">
            <h1 id="game-title"></h1>
            <a class="developer game-link" href=""></a>
        </div>
        <hr>
        <div class="description">
            <p id="description"></p>
        </div>
        <div id="screenshots"></div>
        <hr>
        <p id="developers">
            By %names% on
            <a class="game-link" href=""></a>
        </p>
    </div>
</div>
<div id="nav-menu-block"></div>
<div id="overlay">
    <div class="overlay-contents">
        <img id="sun" src="images/sun_3d.png"/>
        <div class="overlay-bg">
            <h1>A&nbsp;new&nbsp;day, a&nbsp;new&nbsp;game</h1>
            <p>Click the sun to see what's new today...</p>
        </div>
    </div>
</div>

</body></html>